@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans&display=swap);
@import url(https://fonts.googleapis.com/css?family=Teko);
body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, menu, ol, p, select, table, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
table, tr, td {
    box-sizing: border-box;
    border-collapse: collapse;
}
body, button, input, select, textarea {
    font-family: 'Noto Sans KR', 'sans-serif', 'Noto Sans KR';
    font-size: 10px;
}
* {
    font-family: 'Noto Sans KR', 'sans-serif', 'Noto Sans KR';
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
*:not(input):not(textarea) {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
a { text-decoration: none; outline: none; color:#000}

menu, ol, ul, li {
    list-style: none;
}
body {
    min-height: 100vh;
    overscroll-behavior: contain;
    padding-top: constant(safe-area-inset-top); /* iOS 11.0 */
    padding-top: env(safe-area-inset-top); /* iOS 11.2 */ 
}
:focus { outline: none; }
// Content
#echarts-content {
    padding-top: 50px;
    .full-period-content {
        width: 90%;
        margin: auto;
        border: solid 1px #c8d2e1;
        background-color: #ffffff;
        border-radius: 5px 5px 0px 0px;
        border-bottom: none;
        height: 50px;
        display: flex;
        align-items: center;
        .full-period-content-fix {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            margin: 0px 10px;
            align-items: center;
        }
        .date-dash {
            font-size: 20px;
            padding: 0px 20px;
            font-weight: bold;
        }
    }
    .echarts-btn-content {
        width: 90%;
        margin: auto;
        border: solid 1px #c8d2e1;
        background-color: #f2f6fc;
        border-radius: 0px;
        border-bottom: none;
        height: 50px;
        display: flex;
        align-items: center;
        .echarts-btn-content-fix {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 0px 10px;
        }
    }
    .echarts-for-react {
        margin: auto;
        border-radius: 0px 0px 5px 5px;
        border: solid 1px #c8d2e1;
        background-color: #ffffff;
    }
}
#root {
    .MuiSnackbar-anchorOriginTopCenter.position-center {
        top: 40%;
        z-index: 999;
    }
    .MuiSnackbarContent-root {
        opacity: 0.95;
        border-radius: 0px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
        background-color: #484848;
        .MuiSnackbarContent-message {
            margin: auto; 
            font-family:'Noto Sans KR';
            font-size: 14px;
            color: #ffffff;
            font-weight: normal;
        }
    }
    .native-select {
        font-size: 15px;
        width: 160px;
        border: none;
        select {
            font-family: 'Noto Sans KR', 'sans-serif', 'Noto Sans KR'; 
        }
    }
    .btn-on {
        background-color: #3f51b5;
        color: #fff;
    }
}
.date-range-picker-content {
    right: 70px;
    position: absolute;
    top: 100px;
    z-index: 99999;
}
#echarts-datepicker {
    font-size: 13px;
    width: 130px;
    border: none;
    .MuiFormControl-marginNormal {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .MuiInputBase-root {
        font-size: 13px;
    }
    .MuiFormControl-marginNormal {
        width: 100%;
    }
    button {
        padding-right: 0px;
    }
    input {
        color: #191515;
    }
}
// #echarts-datepicker {
//     font-size: 13px;
//     width: 60%;
//     border: none;
//     position: relative;
//     .MuiFormControl-marginNormal {
//         margin-top: 0px;
//         margin-bottom: 0px;
//     }
//     .MuiInputBase-root {
//         font-size: 13px;
//     }
//     svg {
//         position: absolute;
//         color: rgba(0, 0, 0, 0.54);
//         right: 4px;
//         font-size: 16px;
//         top: 6px;
//         z-index: -10;
//     }
//     .MuiFormControl-marginNormal {
//         width: 100%;
//     }
//     button {
//         padding-right: 0px;
//     }
// }


